#row1{
    display:flex; 
    flex-direction:row; 
}
body{
    background-color: rgb(244, 247, 247);


}
.container-data-header{
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.container-data-header2{
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.box1{
    background-color: white;
    box-shadow: 5px 5px 5px;
    border-radius: 5px;
}
.title{
    text-align: center;

}
.profilePic{
    border-radius: 50px;
    border: 10px solid rgb(255, 255, 255);
    height: 100px;
    width: 100px;

}
/* ! */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 25%;
    flex-direction: column;

}
/* .card-profile{
    flex-direction: column;
    background-color: blue;
} */

.container-viewpost{
    display: flex;
    flex-direction: column;
    background-color: white;

}
.over{
    height: 50px;
    width: auto;
    overflow:hidden;
    margin-bottom: 5px;
}
.images{
    width:100%;
    height:300px;
    border-radius: 10px;
}
.postCont{
    border-radius: 10px;
    background-color: white;
}
.comment{
    width: 100%;
    height: 150px;
    overflow: auto;
}
.commentText{
    margin: 1px;
    font-size: small;
}
.commentContainer{
    margin-top: 10px;
}
.rowContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 40px;
    margin: 0;
    align-self: flex-end;
    margin-top: 5px;
}
.colContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.mypostover{
    height: 10rem;
    overflow: hidden;
    background-color: rgb(241, 241, 241);
    padding: 5px;
    border-radius: 5px;
}
.readMore{
    margin-top: 10px;
    align-items: end;
    display: flex;
    justify-content: end;
}

.thumbnailImgProfile{
    height: 50px;
    width: 50px;
    border-radius: 30px;
}
.profile-overflow{
    height: 250px;
    overflow:auto;
    margin-bottom: 5px;
}
.profile-card-images{
    height: 100px;
    width: 100px;
    object-fit: cover;

}

.aside-right{
    height: 100%;
    width: 100%;
}

/** messages */
.container-all-msg{
    height: 74vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100vw;
}

.container-chat-form{
    background-color: white;
    width: 75%;
    height: 90%; 
    border-radius: 5px;
    display: flex;
    overflow-y: hidden;
    flex-direction: column;
    padding: 10px;
}
.container-chat-msg{
    overflow-y: auto;
    align-self: stretch;
    height: 90%;
    min-height: 0;
    display: flex;
    flex-direction: column-reverse;
}
.cont-btn-msg{
    width: 25%;
    height: 90%; 
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.img-receiver{
    height: 35%;
    width: 50%;
    margin-bottom: 20px;
    margin-top: -100px;
    border-radius: 25px;
}
.image{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.msg-receiver{
    align-self: start;
}
.msg-user{
    align-self: flex-end;
}
.no-msg{
    align-self: center;
    font-size: 50px;
    opacity: 50%;
}
.btn-msg{
    width: 250px;
    height: 70px;
    padding: 5px;

}
#loadingOverlay{
    display: flex;
    position: relative;
    top: 50%;
}

.container-view-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container-image-post-profile{
    width: 100%;
    height: 700px;
    min-height: 25%;
}

.footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 75px;
}
/* allpost */
.containerHome{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    align-items: center;

}
.items-home{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* profile */
.container-image-post-profile {
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    width: 100%;
}

.container-image-post-profile img {
    max-width: 100%;
    /* height: auto; */
}
.ImgProfile{
    border-radius: 25px;
    max-height: 75%;
    max-width: 75%;
    min-height: 25%;
    min-width: 25%;
    background-color: blueviolet;
}
.fluid{
    border-radius: 25px;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
}
.content{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fluid-form{
    background-color: white;
    border-radius: 25px;
    width: 90%; /* Sesuaikan lebar sesuai kebutuhan */
    max-width: 400px; /* Atur lebar maksimum jika diperlukan */
    min-width: 250px; /* Atur lebar minimum jika diperlukan */
    padding: 20px; /* Tambahkan padding sesuai kebutuhan */
}
@media (max-width: 600px) {
    .fluid-login {

        width: 90%; /* Sesuaikan lebar untuk layar yang lebih kecil */
    }
    .container-image-post-profile{
        height: 25%;
    }
     .msg-user{
        min-width: 100%;
    }
    .msg-receiver{
        min-width: 100%;
    }
    .container-all-msg{
        flex-direction: column;
    }
    .cont-btn-msg{
        height: 25%; 
        width: 100%;
    }
    .container-chat-form{
        border-radius: 5px;
        width: 100%;
        height: 75%; 
    }
    .img-receiver{
    display: none; 
   }
    
    
}
#container-notif{
    height: 50px;
    width: 400px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}
