body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;


}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  
/*! login & register page */
#loginPage{
    background-color: black;
}
#container-alert{
height: 60px;
width: auto;
}
.contentLogin{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#logo {
    background-image: url('logo_socialcloneBW.png');
    background-size: 70% 75%;
    background-repeat: no-repeat;
    background-position: center center; /* Tengahkan background */
    height: 100vh; /* Gunakan viewport height untuk tinggi 100% */
    width: 60%;
    animation: fadeIn 1s ease-in-out; /* Terapkan animasi fade-in */
}
#form{
    padding: 20px;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    animation: fadeIn 1s ease-in-out; /* Terapkan animasi fade-in */

}
#container-form{
    /* height: 50%; */
    width: 50%;
    padding: 50px;
    border-radius: 10%;
    background-color: rgb(59, 58, 58.0.5);
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*! list user */

#suggestions{
width: 100%;
display: flex;
flex-direction: row;
justify-content:space-between;
}
#image-suggestions{
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.list-group-item{
    color: white;
    background-color: rgb(0, 0, 0, 50);

}
/*! card */
.cardProfile{
    height: 200px;
    width: auto;
    border-radius: 10px;
    padding: 5px;
    color: white;
    background-color: rgb(78, 78, 78);
}
.card-inner{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
.card-image{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    object-fit: fill;
    /* background: #ffffff; */
}

.card-body{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.card-content{
    width: 100%;
    height: 100%;

}
.card-footer{
    width: 100%;
    height: 25%;
    padding: 5px;
}
.img-card{
    height: 185px;
    width: 80%;
    border-radius: 10%;
    object-fit: cover;
}
.card-text-body{
   height: 100%;
   width: 100%;
}
.footer-data{
width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
}
.card-footer{
border-top: 2px solid grey
}
.bio{
    height: 75px;
    width: 100%;
    margin-bottom:5px; 
    overflow: auto;

}
.container-info-char{

    height: 30px;
}
/*! search result */
.SearchResult-body{
    max-height: 250px;
}
#image-result{
    width: 100%;
    height: 150px;
    border-radius: 5px;
}
/*! home page */
#loadingOverlay{
    display: flex;
    position: relative;
    top: 50%;
}
main{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    height: 90%;

}
aside{
    width: 30%;
}
article{
    width: 35%;
}
section{
    width: 30%;
    
}
footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
#container-post{
    height: auto;
    border-radius: 10px;
    background-color: rgb(56, 56, 56);
    padding: 15px;

}
.text-body-post{
        max-height: 50px;
        width: auto;
        overflow:hidden;
        margin-bottom: 5px;
}
#container-images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 250px;
    width: 100%;
}
.comment-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 250px;
    overflow: auto;
    padding: 10px;
}
#likebtn {
    width: 10%;
}
#likesCount{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.modal-content{
    background-color: rgb(94, 94, 94);
    color: white;
}
/*! profile */
.profile-info{
    height: 30%;
    
}
#dataUser-post{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*! messages */
#container-user-msg{
    padding: 15px;
    width: 20%;
    background-color: black;
    overflow: auto;
}
#container-chat-msg{
    padding: 10px;
    width: 55%;
    background-color: rgb(31, 31, 31);
    border-radius: 5px;

}
#container-info-msg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 20%;
    background-color: black;

}
#container-all-msg{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.container-chat-form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.container-chat-content{
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 5px;
    margin-bottom: 10px;
}
.sender-msg{
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    
}
.container-msg{
    display: flex;
    flex-direction: column;
    /* align-items: end; */
}
#noChat-msg{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image-user-msg{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
#container-info-msg-user{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(max-width:750px) {
    #form{
        width: 100%;
    }
    #logo{
        display: none;
    }
    #container-form{
        width: 75%;

    }
    main{
        flex-direction: column;
    }
    aside{
        width: 100%;
        /* background-color: red; */
    }
    article{
        width: 100%;
        /* background-color: greenyellow; */
    }
    section{
        width: 100%;
        /* background-color: blue; */
    }
    #container-user-msg{
        width: 20%;
        height: auto;
    }
    #container-chat-msg{
    width: 80%;
    }
    #container-info-msg{
        display: none;
    }
    #user-name-msg{
        display: none;
    }
    
    }
